<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title>Freelancer.si</title>
	<meta charset="UTF-8">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/datepicker.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    
</head>
<body ng-app="pacific">
	<div class="container" ng-controller="PacificController">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">Pacifica Airways</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3>Naročilo za nakup letalske karte</h3>
			</div>
		</div>
		
		<form name="AppForm" class="form-horizontal">
			<div class="well">
				<div class="row">
							<div class="form-group">
								<label class="col-md-2 control-label" for="datumOdhoda">Datum odhoda:</label>
								<div class="col-md-4">
						    		<input type="text" ng-model="datumOdhoda" class="form-control datepicker1" id="datumOdhoda" name="datumOdhoda" value data-date-format="dd-mm-yyyy" ng-required="true"/>
								</div>
								<div class="col-md-2" ng-show="AppForm.datumOdhoda.$error.required">
									<p class="text-danger">To polje je obvezno!</p>
								</div>
							</div>
				</div>
				<div class="row">
							<div class="form-group">
								<label class="col-md-2 control-label" for="datumPrihoda">Datum prihoda:</label>
								<div class="col-md-4">
						    		<input type="text" ng-model="datumPrihoda" class="form-control datepicker2" id="datumPrihoda" name="datumPrihoda" value data-date-format="dd-mm-yyyy" ng-required="true"/>
								</div>
								<div class="col-md-2" ng-show="AppForm.datumPrihoda.$error.required">
									<p class="text-danger">To polje je obvezno!</p>
								</div>
							</div>
				</div>
				<div class="row">
						<div class="form-group">
							<label class="col-md-2 control-label" for="izLetalisca">Iz letališča:</label>
							<div class="col-md-4">
					    		<select name ="izLetalisca" class="form-control" id="izLetalisca" ng-options="item for item in array" ng-model="selectedItem" ng-required="true">
					    			<option value="">-- izberi letalisce --</option>
					    		</select>

							</div>
							<div class="col-md-2" ng-show="AppForm.izLetalisca.$error.required && AppForm.izLetalisca.$touched">
								<p class="text-danger">To polje je obvezno!</p>
							</div>
						</div>
				</div>
				<div class="row">
						<div class="form-group">
							<label class="col-md-2 control-label" for="naLetalisce">Na letališče:</label>
							<div class="col-md-4">
					    		<select name ="naLetalisce" class="form-control" id="naLetalisce" ng-options="item for item in array1" ng-model="selectedItem1" ng-required="true">
					    			<option value="">-- izberi letalisce --</option>
					    		</select>

							</div>
							<div class="col-md-2" ng-show="AppForm.naLetalisce.$error.required && AppForm.naLetalisce.$touched">
								<p class="text-danger">To polje je obvezno!</p>
							</div>
						</div>
				</div>
				<div class="row">
				<div class="form-group">
					<label for="email" class="col-md-2 control-label">Email:</label>
					<div class="col-md-4">
						<input class="form-control" type="email" name="email" ng-model="email" ng-required="true" ng-pattern="/\S+@\S+\.\S+/">
					</div>
					<div class="col-md-2">
						<p class="text-danger" ng-show="AppForm.email.$error.required && AppForm.email.$touched">To polje je obvezno!</p>
						<p class="text-danger" ng-show="AppForm.email.$error.pattern && AppForm.email.$touched">To polje mora biti email(example@example.si)</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label for="phone" class="col-md-2 control-label">Telefon:</label>
					<div class="col-md-4">
						<input class="form-control" type="text" name="phone" ng-model="phone" ng-required="true" ng-pattern="/\d{9}/" ng-maxlength="9">
					</div>
					<div class="col-md-2">
						<p class="text-danger" ng-show="AppForm.phone.$error.required && AppForm.phone.$touched">To polje je obvezno!</p>
						<p class="text-danger" ng-show="AppForm.phone.$error.pattern && AppForm.phone.$touched">To polje mora biti 9 mestna telefonska številka!</p>
						<p class="text-danger" ng-show="AppForm.phone.$error.maxlength && AppForm.phone.$touched">To polje vsebuje preveč znakov!</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label for="naslov" class="col-md-2 control-label">Naslov:</label>
					<div class="col-md-4">
						<input class="form-control" type="text" name="naslov" ng-model="naslov" ng-required="true">
					</div>
					<div class="col-md-2">
						<p class="text-danger" ng-show="AppForm.naslov.$error.required && AppForm.naslov.$touched">To polje je obvezno!</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label for="postnaStevilka" class="col-md-2 control-label">Poštna številka:</label>
					<div class="col-md-4">
						<input class="form-control" type="text" name="postnaStevilka" ng-model="postnaStevilka" ng-required="true" ng-pattern = "/\d{4}/" ng-maxlength="4">
					</div>
					<div class="col-md-2">
						<p class="text-danger" ng-show="AppForm.postnaStevilka.$error.required && AppForm.postnaStevilka.$touched">To polje je obvezno!</p>
						<p class="text-danger" ng-show="AppForm.postnaStevilka.$error.pattern && AppForm.postnaStevilka.$touched">To polje mora biti 4 mestna postna številka!</p>
						<p class="text-danger" ng-show="AppForm.postnaStevilka.$error.maxlength && AppForm.postnaStevilka.$touched">To polje vsebuje preveč znakov!</p>
					</div>
				</div>
			</div>
			<div>Cena:{{priceFrom+priceTo | currency : "€" : 2}}</div>
				<div class="row">
					<div class="col-md-2">
						
					</div>	
					<div class="col-md-4">
						<button class="btn btn-primary" ng-disabled="">Oddaj</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script src="script.js"></script>
	<script src="scriptAngular.js"></script>
</body>
</html>